body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    color:cadetblue;
}

label {
    display: block;
    padding: 5px;
}

button {
    color: white;
    background: cadetblue;
    padding: 5px;
}